@{
    ViewBag.Title = "Página Inicial";
}

<h2>Página inicial</h2>

<div id="links-home">
    <div class="links">
        <a href="@Url.Action("Login", "Home")"><div id="link-login">Login</div></a>
    </div>
    <div class="links">
        <a href="@Url.Action("Cadastro", "Home")"><div id="link-cadastro">Cadastro</div></a>
    </div>
</div>